.containerLoginScreen {
  background-image: url("../../assets/login-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding-bottom: 3px;
}

@media (max-width: 1000px) and (orientation: landscape) {
  .containerLoginScreen {
    min-height: 130vh;
  }
}

@media (max-width: 760px) {
  .containerLoginScreen {
    min-height: 130vh;
  }
}
