.card {
  width: 287px;
  height: 287px;
  background-color: #333;
  margin: 20px;
  display: flex;
  box-shadow: 0px 9px 27px #5538ee29;
  border-radius: 21px;
  color: #fff;
  background-size: cover;
  cursor: pointer;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  margin: 15vh 0;
}

.content {
  align-self: end;
  margin: 20px;
}

#postTitle {
  font: 17px/19px Rubik;
}

#userPost {
  font: 21px/23px Rubik;
}

.username {
  width: 100%;
  word-break: break-all;
}

.titleCarousel {
  display: flex;
  justify-content: center;
  font: normal normal bold 32px/35px Rubik;
  margin-top: 17vh;
  color: #3634f7;
  text-align: center;
  width: 100%;
}

.carouselContainer {
  margin: 8vh 0;
  display: flex;
  justify-content: center;
}

.rec .rec-dot_active {
  box-shadow: none !important;
  background-color: #3634f7 !important;
}

.rec .rec-dot {
  background-color: #cbcbcb;
  box-shadow: none !important;
}

.rec-carousel-wrapper {
  width: 75% !important;
}

.rec .rec-arrow-left,
.rec .rec-arrow-left:disabled {
  margin-right: -65px;
  z-index: 1;
}

.rec .rec-arrow-right,
.rec .rec-arrow-right:disabled {
  margin-left: -65px;
  z-index: 1;
}

.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0, .8);
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  align-items: center;
    display: flex;
    justify-content: center;
}

.modalContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 25vw;
}

#buttonClose {
  color: #fff;
  background-color: #000;
  position: absolute;
  top:30px;
  right:40px;
  padding: 5px 10px;
  font-size: 25px;
  border: solid 1px #fff;
  cursor: pointer;
}

@media (max-width: 1617px) {
  .rec-carousel-wrapper {
    width: 85% !important;
  }
}

@media (max-width: 1428px) {
  .rec-carousel-wrapper {
    width: 95% !important;
  }
}

@media (max-width: 480px) {
  .titleCarousel {
    font: normal normal bold 26px/28px Rubik;
    margin-top: 5vh;
  }
  .rec .rec-arrow-right {
    display: none;
  }
  .rec .rec-arrow-left {
    display: none;
  }
}
@media (max-width: 320px) {
  .card {
    width: 110px;
    height: 250px;
  }

  .rec .rec-arrow-right {
    display: none;
  }
  .rec .rec-arrow-left {
    display: none;
  }

  .titleCarousel {
    font: normal normal bold 17px/18px Rubik;
    margin-top: 0;
    color: #3634f7;
    text-align: center;
    width: 100%;
  }
}
