* {
  margin: 0;
  padding: 0;
}

.searchListingContainer {
  background-image: url(../../assets/login-bg.jpg);
  min-height: 100vh;
  font: normal normal normal 20px/74px Rubik;
}

h2 {
  margin-left: 10%;
  color: #fff;
}

table {
  margin-left: 10%;
  border-collapse: inherit;
  border-spacing: 0 1px;
  width: 80%;
  overflow: hidden;
  border-radius: 14px;
}

thead {
  background-color: #f1f1f1;
}

tbody {
  background-color: #fff;
}

th {
  color: #3633f7;
  font-size: 1.25rem;
}

.td1 {
  color: #292929;
}

td {
  color: #d842bd;
}

th,
td {
  text-align: left;
  padding: 0 0 0 5%;
}

.table {
  padding-bottom: 30px;
}

ul {
  text-align: center;
}

.pageButtons {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  border: none;
  margin: 0 5px;
  color: #3633f7;
  font-size: 16px;
  font-family: "Rubik";
  font-weight: 700;
}
