* {
  margin: 0;
  padding: 0;
}

.searchListingContainer {
  background-image: url(../../assets/login-bg.jpg);
  min-height: 100vh;
  font: normal normal normal 20px/74px Rubik;
}

h2 {
  margin-left: 10%;
  color: #fff;
}

table {
  margin-left: 10%;
  border-collapse: inherit;
  border-spacing: 0 1px;
  width: 80%;
  overflow: hidden;
  border-radius: 14px;
}

thead {
  background-color: #f1f1f1;
}

tbody {
  background-color: #fff;
}

th {
  color: #3633f7;
  font-size: 1.25rem;
}

.td1 {
  color: #292929;
  width: 60%;
  line-height: 30px;
}

td {
  color: #d842bd;
}

th,
td {
  text-align: left;
  padding: 0 0 0 5%;
}

.table {
  padding-bottom: 20px;
}

ul {
  text-align: center;
}

.pageButtons {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  border: none;
  margin: 0 5px;
  color: #3633f7;
  font-size: 16px;
  font-family: "Rubik";
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  h2 {
    margin-left: 5%;
  }

  table {
    margin-left: 5%;
    width: 90%;
  }

  thead {
    line-height: 65px;
  }

  tbody {
    line-height: 55px;
  }
}

@media screen and (max-width: 576px){
  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  table {
    margin-left: 1.5%;
    width: 97%;
  }

  thead {
    line-height: 55px;
  }
  
  tbody {
    line-height: 45px;
  }

  th {
    font-size: 1.063rem;
  }

  tr{
    font-size: 0.875rem;
  } 

  .td1 {
    line-height: 20px;
  }

  .pageButtons {
    width: 25px;
    height: 25px;
    border-radius: 6px;
    font-size: 14px;
  }
}
